body{
	background-image: url("img/back-img.jpeg");	
}
p{
	color: white;
}
#img_container{
	width: 20px;
	height: 20px;
}
input{
	width: 1vw;
	height: 1vw;
	margin: 0.3vw;
}
form{
	border: peachpuff 3px;
}